* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

#navbar {
  /*make a fixed top nav*/
}

/*add a blackground color to the top navigation*/
.topnav {
  background-color: #333;
  position: fixed;
  width: 100%;
  overflow: hidden;
}

/*style the links inside the navigation bar*/
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 33px;
  font-size: 17px;
}

/*Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/*welcome section*/
#welcome-section {
  width: auto;
  height: 585px;
  background-color: purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 33px;
  line-height: 2;
  color: whitesmoke;
}

p {
  font-size: 18px;
  color: whitesmoke;
}

/*project section*/
.project-tile {
  background-color: transparent;
  padding: 10px;
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: wrap;
}

.item {
  background-color: transparent;
  color: black;
  font-size: 16px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  line-height: 2;
  
}

img {
  max-width: 100%;
  height: auto;
}

/*seccion de contacto*/
#contact {
  width: auto;
  height: 200px;
  color: whitesmoke;
  background-color: grey;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*seccion de media querie*/
@media screen and (min-width: 600px) {
  #welcome-section {
    background-color: #4f1717;
  }
}
